<a href="https://colab.research.google.com/github/nealonleo9/CS-Week-1/blob/main/_BasicOperatorsStringsLists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_number = 2 + 2 * 8 / 5.0
print(my_number) # 5.2

5.2

In [2]:
my_remainder = 9 % 4
print(my_remainder) # 1

1

In [3]:
two_squared = 2 ** 2
print(two_squared)    # 4
two_cubed = 2 ** 3
print(two_cubed)      # 8

4
8

In [4]:
string_one = "Hello,"
string_two = " World!"
combined = string_one + string_two
print(combined) # Hello, World!

lst_one = [1,2,3]
lst_two = [4,5,6]
big_lst = lst_one + lst_two
print(big_lst) # [1, 2, 3, 4, 5, 6]

Hello, World!
[1, 2, 3, 4, 5, 6]

In [5]:
my_string = "Bueller"
repeated = my_string * 3
print(repeated) # BuellerBuellerBueller

my_list = [1, 2, 3]
repeated_list = my_list * 3
print(repeated_list) # [1, 2, 3, 1, 2, 3, 1, 2, 3]

BuellerBuellerBueller
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
a = object()
b = object()

In [7]:
a_list = [a] * 5
b_list = [b] * 5

In [8]:
combined = a_list + b_list

In [9]:
print(len(combined)) # 10

10

In [16]:
"""
1. Assign two different types to the variables "a" and "b".

2. Use basic operators to create a list that contains three instances of "a" and three instances of "b".
"""
# Modify the code below to meet the requirements outlined above
a = "a"
b = "5"

my_list = a*3 + b*3
print(my_list)

aaa555

In [18]:
[i.split('\t', 1)[0] for i in my_list]

['a', 'a', 'a', '5', '5', '5']

In [15]:
for element in my_list:
    my_list = element.split(',')
    print(my_list)

['a']
['a']
['a']
['5']
['5']
['5']