<a href="https://colab.research.google.com/github/nealonleo9/CS-Week-1/blob/main/BasicListOperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
my_list = [] # empty list literal
my_list.append(1) # add 1 to end of list
my_list.append(2) # add 2 to end of list
my_list.append(3) # add 3 to end of list
print(my_list[0]) # prints 1
print(my_list[1]) # prints 2
print(my_list[2]) # prints 3

# iterate over the list with for statement to print each item in my_list
for item in my_list:
    print(item)

1
2
3
1
2
3

In [4]:
numbers = []
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings = []
strings.append("Lambda")
strings.append("School")

print(numbers[2], strings[1])

3 School

In [5]:
sum = 0
for number in numbers:
    sum += number

In [13]:
"""
1. Create a "numbers" list that contains two different integer values and two different floating point values.

2. Create a "strings" list that contains three different strings.

3. Print the 4th number of your numbers list and the 1st string of your strings list.

4. Iterate through your strings list and print each string.
"""
numbers = []
numbers.append(11)
numbers.append(42)
numbers.append(51.0)
numbers.append(47.0)
numbers.append(32.0)

strings = []
strings.append("Lambda")
strings.append("School")
strings.append("Awsome")

#print(numbers[2], strings[3])
print(numbers[3], strings[0])

47.0 Lambda

In [14]:
for item in strings:
    print(item)

Lambda
School
Awsome