<a href="https://colab.research.google.com/github/nealonleo9/CS-Week-1/blob/main/CreateFormattedStrings_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "Austen"
formatted_string = "Hello, %s!" % name
print(formatted_string) # Hello, Austen!

Hello, Austen!

In [ ]:
#To format a string in Python, you use the % operator to format a set of stored variables in a tuple.
#You also include argument specifiers in your string with special symbols like %s and %d.
%s - string
%d - integer
%f - floating points or numbers

In [2]:
name = "Austen"
year = 2020
print("Hey %s! It's the year %d." % (name, year))
# Hey Austen! It's the year 2020.

Hey Austen! It's the year 2020.

In [3]:
my_list = [1,2,3]
print("my_list: %s" % my_list)
# my_list: [1, 2, 3]

my_list: [1, 2, 3]

In [ ]:
%s - String (or any object with a string representation)
%d - Integers
%f - Floating point numbers
%.<number of digits>f - Floating point numbers with a fixed amount of digits to the dot's right.
%x/%X - Integers in hexadecimal (lowercase/uppercase)

In [4]:
product_name = "bananas"
price = 1.23
product_id = 123456

In [5]:
print("%s (id: %d) are currently $%.2f." % (product_name, product_id, price))
# bananas (id: 123456) are currently $1.23.

bananas (id: 123456) are currently $1.23.

In [ ]:
"""
1. Assign three different types of data to the three variables "a", "b", and "c".

2. Use a format string to inject the data from your three variables into the string.
"""
# Modify the code below to meet the requirements above.
a = 5
b = "one"
c = 6.0

print("" % ())